.div-content {
    width: 100%;
    border: solid 0px red;
    height: auto;
    padding: 25px;
}

.custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }

.text-date-verification {
    font-size: 10px;
}