<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">

<ion-content>
<div class="div-content custom-font">

Bem Vindo ao atendimento do Life-Care Chat.
<p>
Aqui, como em qualquer outra forma de contato com o Life-Care Chat, você é atendido por um voluntário, com respeito, anonimato, que guardará estrito sigilo sobre tudo que for dito.
<p>
Nossos voluntários são treinados para conversar com todas as pessoa que procuram ajuda e apoio.

</div>

</ion-content>
