
  <div class="chat">
    <div class="conteudo">
    <ion-content>
      <div class="div-content">
        <div class="container">
          <img src="https://avatars.githubusercontent.com/u/56195985?s=60&v=4" alt="Avatar">
          <p>Boa tarde! poderia me ajudar?</p>
          <span class="time-right">19/02/2020 - 11:00</span>
        </div>
        
        <div class="container darker">
          <img src="https://avatars.githubusercontent.com/u/22855400?s=400&u=f5dad7863e2825b8df3dd702eec6978f5eb13592&v=4" alt="Avatar" class="right">
          <p>Se o assunto for Java tô fora!</p>
          <span class="time-left">19/02/2020 - 11:01</span>
        </div>
      </div>
    </ion-content>
    </div>
  <div class="footer">
    <div class="div-footer">
    <ion-input placeholder="Digite uma mensagem" class="input-messenger"></ion-input>
    </div>
    <div class="div-footer-icon ion-text-center">
    <ion-button>
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
    </div>
  </div>
</div>



