<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap" rel="stylesheet">

<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
  <ion-title >Life-Care Chat</ion-title>
  
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

   
  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="top" class="bg">
        <ion-tab-button class="style-button" tab="mensagem">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <ion-label>Mensagem</ion-label>
        </ion-tab-button>
        <ion-tab-button class="style-button" tab="online">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Atendimento</ion-label>
        </ion-tab-button>
        <ion-tab-button class="style-button" tab="ajuda">
          <ion-icon name="help-outline"></ion-icon>
          <ion-label>Ajuda</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-content>