ion-title, ion-segment-button, h2 {
  font-weight: 600;
}

ion-segment {
  --background: #018ac1;
  ion-segment-button {
      --color: #abdbe3;
      --color-checked: #ffffff;
  }
  ion-segment-button:first-of-type {
    --padding-end: 0;
    --padding-start: 0;
    min-width: 16px;
  }
}

ion-fab-button {
  --background: #abdbe3;
}

.text-status-off-line {
  background:#ff0000;
  padding: 5px;
  color: white;

}

.text-status-on-line {
  background:#2e8b57;
  padding: 5px;
  color: white;

}