ion-title, ion-segment-button, h2 {
  font-weight: 600;
}

ion-segment {
  --background: #018ac1;
  ion-segment-button {
      --color: #abdbe3;
      --color-checked: #ffffff;
  }
  ion-segment-button:first-of-type {
    --padding-end: 0;
    --padding-start: 0;
    min-width: 16px;
  }
}

ion-fab-button {
  --background: #abdbe3;
}

/* Criando Divs */

ion-tab-button.style-button {
  --color-selected: white;
  background-color: #018ac1;
  color: white;
}

ion-tab-bar.bg {
  background-color: #018ac1;
}

/* Mudança de Fonte */

.custom-font {
  font-family: 'Josefin Sans', sans-serif;
}



